.elementoPokemon {
    background-color: #f5f5f5 !important;
    display: inline-block !important;
    align-items: center !important;
    gap: 10px !important;
    border: 1px solid #ccc !important;
    padding: 10px !important;
    margin: 10px !important;
    border-radius: 5px !important;
    width: 200px !important;
    
}

.elementoPokemon:hover {
    background-color: #e0e0e0 !important;
    transform: scale(1.1) !important;
    transition: all 0.3s ease !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px !important;
}

.nombrePokemon {
    
    font-weight: bold !important;
    margin: 0 !important;
    text-align: center !important;
    text-decoration: none !important;
}

.linkPokemon {
    text-decoration: none !important;
    color: #000 !important;
}




