.link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.link:hover {
    color: #880e0e;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    list-style: none;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
}